/*
  Title: hochdoerfer-favorites.css
  Author: Kyle Hochdoerfer
  Date: 3/27/23
  Description: Styling for hochdoerfer-favorites.html
/*

/*Center the card and add padding to the bottom*/
.card{
    margin: auto;
    padding-bottom: 20px;
}

/*Display the buttons in a column with a 30px gap between them*/
.card-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}