/*Title: hochdoerfer-payroll.css
//Author: Kyle Hochdoerfer
//Date: 3/20/23
//Description: Styling for hochdoerfer-payroll.html
*/

/*Set styling for body font*/
body{
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

/*Set Styling for return link*/
.return-home{
    color: #4F3674;
}

.return-home:hover{
    background-color: #D6A800;
    color: #4F3674;
}

.return-home:visited{
    color: #3C275A
}

/*Set styling for headers*/
h1, h3{
    background-color: #3C275A;
    color: white;
    border: #D6A800 solid 1px;
    padding: 10px;
}

#payroll-header{
    text-align: center;
}


/*Set styling for the unordered list border*/
ul{
    border: red dotted 1px;
}