/*
  Title: hochdoerfer-temp-conversion.css
  Author: Kyle Hochdoerfer
  Date: 3/28/23
  Description: Styling for temperature conversion app
/*

/*Center a card and its content*/
.card{
    margin:auto;
    text-align: center;
}

/*Set the calculation results font size to 24px*/
#calc-results{
    font-size:24px;
}