/*Title: hochdoerfer-number-game.css
//Author: Kyle Hochdoerfer
//Date: 4/2/23
//Description: Styling for hochdoerfer-number-game.html
*/

/*Center a card and its content*/
.card{
    margin:auto;
    text-align: center;
}

/*Set the font size of results to 24px*/
#results{
    font-size: 24px;
}